

.main{
    border: 1px solid black;
    width: 500px;
    height: auto;
    margin-top: 20px;

}

.up{
    border: none;
    width: 500px;
    height: auto;

}

.selected{
    border: 1px solid darkblue;    
    float: left;
    background-size: contain;  

}

.mainBody{
    margin-top: 50px;
    margin-left: 400px;
    width: 500px;
    height: auto;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
}

